body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ARTICLE = CARD CHARACTERS / COMICS -------------------------------------*/

/* DIV TEMOIN POUR TESTER LES PSEUDOCLASS ET VISEUR*/
/* div {
  background-color: black;
  width: 50px;
  height: 50px;
} */
article {
  width: 1200px; /* -> width of : (P<>) .container / -> width defbydefaultby : (P<>) .container / */
  border: solid 1px;
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
  background-color: lightgray;
}
/* A1 -> enfant direct */
article > div {
  display: flex;
  width: 1150px;
  /* background-color: turquoise; */
}
/* B1 et B2 -> enfant direct */
article div div {
  /* background-color: green; */
  width: 950px;
}
/* C1 et C2 -> enfant direct */
article div div div {
  /* background-color: hotpink; */
  width: 900px;
}

/* B1 */
/* B1 et C1-> chaque 1er enfant descendant de l'elem parent -> 1er enfant, 1er petit enfant ...*/
article div div:first-child {
  /* background: red; */
  width: 120px;
  margin-right: 50px;
}

/* Comment viser seulement "B1" le 1er enfant direct de "A1" sans impacter les 1er autres descendants (petit enfant, arriere petit enfant..) ??????????????????????????????????... /*
/*-------------------------------------------------------
article div div:first-child  { -> Définit tous les éléments `p` enfants de `div`. 
article div div:nth-child(1) { -> Définit tous les éléments `p` enfants de `div`. 
article div > div { -> Définit tous les éléments `p` enfants de `div`. 
article div + div { -> Définit le premier élément `p` positionné directement après `div` et ayant le même parent.
article div ~ div { -> Définit tous les éléments `p` positionnés directement après `div` et ayant le même parent.
----------------------------------------------------------------------------------------------------------------*/

/* C1-> chaque 1er petit enfant descendant de l'elem parent -> 1er enfant, 1er petit enfant ...*/
article div div div:first-child {
  /* background-color: yellow; */
  width: 400px; /* -> width defbydefaultby : (P<>) B2 */
  margin-bottom: 10px;
}

/* C2-> chaque deuxième élément de son parent */
article div div div:nth-child(2) {
  /* background-color: blue; */
  /* height: 200px; */
}

article img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

/* NAVIGATION MENU --------------------------------------------------------- */
.infoPage {
  display: flex;
  justify-content: space-between;
}

.Search {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.SearchBar {
  height: 40px;
  width: 600px;
  background-color: beige;
  margin-left: 20px;
}

figure > div > div {
  flex: none;
}

figure {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}
.scroll {
  /* display: flex; */
  width: 300px;
}
.bb {
  display: flex;
  flex-wrap: nowrap; /* par default */
  overflow: hidden;
  overflow-x: auto;
}
.aa {
  flex-shrink: 0; /* (1) par default, (O) permet d'empecher le retrécissement */
  display: inherit;
}

/* HEADER --------------------------------------------------------- */
header {
  height: 95px;
  background-color: black;
}
header > div {
  height: 52px;
  border: solid 1px gray;
}
nav {
  display: flex;
}
.logo {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 50px;
}
header aside {
  width: 300px;
  /* padding: 0 50px; */
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: solid 1px gray;
  border-left: solid 1px gray;
  color: white;
}
header menu {
  /* background-color: red; */
}
header menu > div {
  /* background-color: turquoise; */
  /* width: 800px; */
  display: flex;
  justify-content: center;
}
menu > div > div {
  display: inherit;
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  color: white;
}

.fixed {
  position: sticky; /* ne fonctionne pas => a revoir*/
  /* HEADER FIXE */
  /* position: fixed; */
  /* ETIRE LE HEADER SUR LA LARGEUR DE LA PAGE */
  width: 100vw;
  /* AFFIHCER LE HEADER EN HAUT, SI DECLARE EN BAS DU CODE HTML */
  top: 0;
  left: 0;
  right: 0;
  /* EMPECHE LE BALISE "PARENT DE DEPASSER SUR LE HEADER FIXE */
  /* z-index: 99; */
}

main {
  /* position: static;
  top: -100px; */
}

/* LINK----------------------------------------- */
.Link {
  font-size: 20px;
  color: black;
}

.Linkdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: solid 1px;
  color: black;
  height: 30px;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}
